/* Los estilos de tu proyecto */
.img-fondo{
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: center bottom;
  height: -webkit-fill-available;
  background-repeat: no-repeat;


}

.header {
  height: 100px;
}

.form-registerer{
  background-color: #f7b617;
  padding: 20px 45px;
  margin-top: 5%;
  color: #fff;

}
.btn-register{
  padding: 10px;
}

.version-desktop img{
  width: 100px;
  padding: 0px 10px;
}

.btn{
  font-weight: 700;
}


header img{
  width: 80%;
}

.version-mobile h1{
  margin: 0;
  margin-bottom: 30px;
}

.version-mobile h1 img{
  width: 80px;
}

.img-phone{
  background-image: url('../assets/images/iPhone6Plus.png');
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-position: center;

}

.section-download-app {
  background-color: #f7b617;
  padding: 40px 20px;
  color: #fff;
}

.title{
  display: inline-block;
}

.img-driver{
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: right;
  height: 80vh;
}

.text-container{
  color: #fff;
  font-size: 25px;

}

.color-found{
  background-color: #f7b617;
  color: #fff;
}

.camp-text{
  color: white;
  background-color: #f7b617;
  border-radius: 8px;
  border: 2px solid white;
  position: relative;
  left:50px;;
  bottom: 20px;
}

.section-inputs{
  margin-top: 40px;
}

.boton{
  margin: 25px auto 60px;
}

.img-ruta{
  background-image: url("../assets/images/mapa-movil.jpg");
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  height: 400px;
  background-position: bottom;
  background-size: cover;
}

.img-ruta-movil{
  border: 2px solid #fff;
  padding: 10px;
}

.section-container{
  padding: 50px;
}

/*  clases para el footer   */
footer{
  background-color: #2b2b2b;
  color: #fff;
}

.img-logo{
  padding: 20px;
}

.messy-lists{
  list-style: none;
  line-height: 2.5;
}

.content-icons span{
  padding: 2px;
}

.logo-footer img{
  padding-top: 25px;
}

.container-footer{
  font-size: 1.2em;
}


@media (max-width:768px){
  .img-phone {
    background-size: 180px;
    border: 2px solid white;
  }
  .img-ruta{

  }
}

@media (min-width:768px){

  .form-registerer{
    float: right;
  }

  .img-phone{
    background-size: contain;
  }
  .section-download-app{
    height: 400px;
  }
}
