/* Los estilos de tu proyecto */
.img-fondo{
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: center bottom;
  height: -webkit-fill-available;
  background-repeat: no-repeat;


}

.header {
  height: 100px;
}

.form-registerer{
  background-color: #f7b617;
  /*float: right;*/
  padding: 20px 45px;
  margin-top: 5%;
  color: #fff;

}
.btn-register{
  padding: 10px;
}

.version-desktop img{
  width: 100px;
  padding: 0px 10px;
}

.version-desktop h3{
  font-size: 2.5em;
}

.version-desktop span{
  font-size: 1.5em;
}

.btn{
  font-weight: 700;
}

section{
  width: 100%;
}

header img{
  width: 60%;
}

.version-mobile h1{
  margin: 0;
  margin-bottom: 10px;
}

.version-mobile h1 img{
  width: 60px;
}

.img-phone{
  background-image: url('../assets/images/iPhone6Plus.png');
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  border: 1px solid white;
  padding: 30px;
  background-position: center;

}

.section-download-app {
  background-color: #f7b617;
  padding: 30px 20px;
  color: #fff;

}


.title{
  display: inline-block;
}

@media (max-width:768px){



}

@media (min-width:768px){

  main h3, strong {
    display: none;
  }
  .aplication-movil{
    height: -webkit-fill-available;
  }
  .form-registerer{
    float: right;
  }
}
